@{
    ViewBag.Title = "CUPIT CHAT";
}

<div class="wrapper">
    <div class="fill">
        <div class="left">
            <input id="btnTimChiTiet" type="button" class="w8-button white search" value="Tìm chi tiết" />
            <span class="fill-dis"> 22-26, nhân mã, Hà Nội, 165cm, Mệnh Hỏa</span>
        </div>
        <div class="right">
            <span class="fill-dis-number">69 kết quả</span>
            <select id="Select1">
                <option>Gần bạn nhất</option>
            </select>
        </div>
        <div class="clr"></div>
    </div>
    <div class="page-content">
        <ul class="lst-user">
            <li>
                <div class="lst-user-avatar column-2">
                    <img class="round" src="/images/avatar/tu-suong-2 copy.jpg" />
                </div>
                <div class="lst-user-info column-6">
                    <p class="link">Hà Nội - 2km</p>
                    <p class="link">23 Tuổi, Mệnh thủy, Nhân mã</p>
                    <p class="lst-user-info-name">Nguyễn Thị Thơm</p>
                    <p class="lst-user-info-des">Xin chào, mình sn 1998 đang học trường cấp 3 cổ nhuế. Muốn tìm hiểu nghiêm túc và kết hôn mình là nam nhé</p>
                </div>
                <div class="lst-user-btn column-3">
                    <div class="lst-user-btn-lst">
                        <img src="/images/system/1-05.png" />
                        <img src="/images/system/1-06.png" />
                        <img src="/images/system/1-07.png" />
                    </div>
                </div>
                <div class="clr"></div>
            </li>
            <li>
                <div class="lst-user-avatar column-2">
                    <img class="round" src="/images/avatar/tu-suong-2 copy.jpg" />
                </div>
                <div class="lst-user-info column-6">
                    <p class="link">Hà Nội - 2km</p>
                    <p class="link">23 Tuổi, Mệnh thủy, Nhân mã</p>
                    <p class="lst-user-info-name">Nguyễn Thị Thơm</p>
                    <p class="lst-user-info-des">Xin chào, mình sn 1998 đang học trường cấp 3 cổ nhuế. Muốn tìm hiểu nghiêm túc và kết hôn mình là nam nhé</p>
                </div>
                <div class="lst-user-btn column-3">
                    <div class="lst-user-btn-lst">
                        <img src="/images/system/1-05.png" />
                        <img src="/images/system/1-06.png" />
                        <img src="/images/system/1-07.png" />
                    </div>
                </div>
                <div class="clr"></div>
            </li>
            <li>
                <div class="lst-user-avatar column-2">
                    <img class="round" src="/images/avatar/tu-suong-2 copy.jpg" />
                </div>
                <div class="lst-user-info column-6">
                    <p class="link">Hà Nội - 2km</p>
                    <p class="link">23 Tuổi, Mệnh thủy, Nhân mã</p>
                    <p class="lst-user-info-name">Nguyễn Thị Thơm</p>
                    <p class="lst-user-info-des">Xin chào, mình sn 1998 đang học trường cấp 3 cổ nhuế. Muốn tìm hiểu nghiêm túc và kết hôn mình là nam nhé</p>
                </div>
                <div class="lst-user-btn column-3">
                    <div class="lst-user-btn-lst">
                        <img src="/images/system/1-05.png" />
                        <img src="/images/system/1-06.png" />
                        <img src="/images/system/1-07.png" />
                    </div>
                </div>
                <div class="clr"></div>
            </li>
            <li>
                <div class="lst-user-avatar column-2">
                    <img class="round" src="/images/avatar/tu-suong-2 copy.jpg" />
                </div>
                <div class="lst-user-info column-6">
                    <p class="link">Hà Nội - 2km</p>
                    <p class="link">23 Tuổi, Mệnh thủy, Nhân mã</p>
                    <p class="lst-user-info-name">Nguyễn Thị Thơm</p>
                    <p class="lst-user-info-des">Xin chào, mình sn 1998 đang học trường cấp 3 cổ nhuế. Muốn tìm hiểu nghiêm túc và kết hôn mình là nam nhé</p>
                </div>
                <div class="lst-user-btn column-3">
                    <div class="lst-user-btn-lst">
                        <img src="/images/system/1-05.png" />
                        <img src="/images/system/1-06.png" />
                        <img src="/images/system/1-07.png" />
                    </div>
                </div>
                <div class="clr"></div>
            </li>
            <li>
                <div class="lst-user-avatar column-2">
                    <img class="round" src="/images/avatar/tu-suong-2 copy.jpg" />
                </div>
                <div class="lst-user-info column-6">
                    <p class="link">Hà Nội - 2km</p>
                    <p class="link">23 Tuổi, Mệnh thủy, Nhân mã</p>
                    <p class="lst-user-info-name">Nguyễn Thị Thơm</p>
                    <p class="lst-user-info-des">Xin chào, mình sn 1998 đang học trường cấp 3 cổ nhuế. Muốn tìm hiểu nghiêm túc và kết hôn mình là nam nhé</p>
                </div>
                <div class="lst-user-btn column-3">
                    <div class="lst-user-btn-lst">
                        <img src="/images/system/1-05.png" />
                        <img src="/images/system/1-06.png" />
                        <img src="/images/system/1-07.png" />
                    </div>
                </div>
                <div class="clr"></div>
            </li>
            <li>
                <div class="lst-user-avatar column-2">
                    <img class="round" src="/images/avatar/tu-suong-2 copy.jpg" />
                </div>
                <div class="lst-user-info column-6">
                    <p class="link">Hà Nội - 2km</p>
                    <p class="link">23 Tuổi, Mệnh thủy, Nhân mã</p>
                    <p class="lst-user-info-name">Nguyễn Thị Thơm</p>
                    <p class="lst-user-info-des">Xin chào, mình sn 1998 đang học trường cấp 3 cổ nhuế. Muốn tìm hiểu nghiêm túc và kết hôn mình là nam nhé</p>
                </div>
                <div class="lst-user-btn column-3">
                    <div class="lst-user-btn-lst">
                        <img src="/images/system/1-05.png" />
                        <img src="/images/system/1-06.png" />
                        <img src="/images/system/1-07.png" />
                    </div>
                </div>
                <div class="clr"></div>
            </li>
            <li>
                <div class="lst-user-avatar column-2">
                    <img class="round" src="/images/avatar/tu-suong-2 copy.jpg" />
                </div>
                <div class="lst-user-info column-6">
                    <p class="link">Hà Nội - 2km</p>
                    <p class="link">23 Tuổi, Mệnh thủy, Nhân mã</p>
                    <p class="lst-user-info-name">Nguyễn Thị Thơm</p>
                    <p class="lst-user-info-des">Xin chào, mình sn 1998 đang học trường cấp 3 cổ nhuế. Muốn tìm hiểu nghiêm túc và kết hôn mình là nam nhé</p>
                </div>
                <div class="lst-user-btn column-3">
                    <div class="lst-user-btn-lst">
                        <img src="/images/system/1-05.png" />
                        <img src="/images/system/1-06.png" />
                        <img src="/images/system/1-07.png" />
                    </div>
                </div>
                <div class="clr"></div>
            </li>
            <li>
                <div class="lst-user-avatar column-2">
                    <img class="round" src="/images/avatar/tu-suong-2 copy.jpg" />
                </div>
                <div class="lst-user-info column-6">
                    <p class="link">Hà Nội - 2km</p>
                    <p class="link">23 Tuổi, Mệnh thủy, Nhân mã</p>
                    <p class="lst-user-info-name">Nguyễn Thị Thơm</p>
                    <p class="lst-user-info-des">Xin chào, mình sn 1998 đang học trường cấp 3 cổ nhuế. Muốn tìm hiểu nghiêm túc và kết hôn mình là nam nhé</p>
                </div>
                <div class="lst-user-btn column-3">
                    <div class="lst-user-btn-lst">
                        <img src="/images/system/1-05.png" />
                        <img src="/images/system/1-06.png" />
                        <img src="/images/system/1-07.png" />
                    </div>
                </div>
                <div class="clr"></div>
            </li>
            <li>
                <div class="lst-user-avatar column-2">
                    <img class="round" src="/images/avatar/tu-suong-2 copy.jpg" />
                </div>
                <div class="lst-user-info column-6">
                    <p class="link">Hà Nội - 2km</p>
                    <p class="link">23 Tuổi, Mệnh thủy, Nhân mã</p>
                    <p class="lst-user-info-name">Nguyễn Thị Thơm</p>
                    <p class="lst-user-info-des">Xin chào, mình sn 1998 đang học trường cấp 3 cổ nhuế. Muốn tìm hiểu nghiêm túc và kết hôn mình là nam nhé</p>
                </div>
                <div class="lst-user-btn column-3">
                    <div class="lst-user-btn-lst">
                        <img src="/images/system/1-05.png" />
                        <img src="/images/system/1-06.png" />
                        <img src="/images/system/1-07.png" />
                    </div>
                </div>
                <div class="clr"></div>
            </li>
            <li>
                <div class="lst-user-avatar column-2">
                    <img class="round" src="/images/avatar/tu-suong-2 copy.jpg" />
                </div>
                <div class="lst-user-info column-6">
                    <p class="link">Hà Nội - 2km</p>
                    <p class="link">23 Tuổi, Mệnh thủy, Nhân mã</p>
                    <p class="lst-user-info-name">Nguyễn Thị Thơm</p>
                    <p class="lst-user-info-des">Xin chào, mình sn 1998 đang học trường cấp 3 cổ nhuế. Muốn tìm hiểu nghiêm túc và kết hôn mình là nam nhé</p>
                </div>
                <div class="lst-user-btn column-3">
                    <div class="lst-user-btn-lst">
                        <img src="/images/system/1-05.png" />
                        <img src="/images/system/1-06.png" />
                        <img src="/images/system/1-07.png" />
                    </div>
                </div>
                <div class="clr"></div>
            </li>
        </ul>
    </div>
</div>
